server:
  port:  8098
spring:
  banner:
    location: classpath:/banner/banner.txt
  datasource:
    url: jdbc:postgresql://localhost:5432/bdconocimiento
    username: ${BDCONOCIMIENTO_USER}
    password: ${BDCONOCIMIENTO_PASS}
    driverClassName: org.postgresql.Driver
    hikari:
      connection-test-query: SELECT 1
      idle-timeout: 20000
      pool-name: BDConocimientoCP
      maximum-pool-size: 50
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
      naming:
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  messages:
    basename: i18n/msg
management:
  endpoints:
    web:
      exposure:
        include: "*"