<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
	
<head>
<title th:ref="#{c.titulo}"></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script th:src="@{/js/jquery.min.v3.2.1.js}"></script>
<script th:src="@{/js/all.v5.0.7.js}"></script>
<link href="#" th:href="@{/css/bulma.min.css}" rel="stylesheet" />
</head>

<body>
	<header th:replace="layout :: site-header"></header>

	<section class="hero is-light">
		<div class="hero-body">
			<div class="container">
				<h2 class="subtitle" th:text="#{c.titulo}"></h2>
				<a th:href="@{/caso/casoForm}" th:title="#{g.nuevo}"> <img
					width="20" height="20" src="../static/imgs/crear.png"
					th:src="@{/imgs/crear.png}" />
				</a>

				<table class="table is-striped">
					<thead>
						<tr>
							<th th:text="#{c.tabla.codigo}"></th>
							<th th:text="#{c.tabla.tipoc}"></th>
							<th th:text="#{c.tabla.estadoc}"></th>
							<th th:text="#{c.tabla.descripcion}"></th>
							<th th:text="#{c.tabla.resumen}"></th>
							<th th:text="#{c.tabla.reportado}"></th>
							<th th:text="#{c.tabla.asignado}"></th>
							<th th:text="#{c.tabla.nota}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${casos}">
							<td><span th:text="${c.codigoCaso}"></span></td>
							<td><span th:text="${c.tipoCaso?.descripcion}"></span></td>
							<td><span th:text="${c.estadoCaso?.descripcion}"></span></td>
							<td><span th:text="${c.descripcion}"></span></td>
							<td><span th:text="${c.resumen}"></span></td>
							<td><span th:text="${c.reportadoPor.alias}"></span></td>
							<td><span th:text="${c.responsable?.alias}"></span></td>
							<td><span th:text="${c.nota}"></span></td>
							<td><a th:href="@{/caso/casoForm?id=__${c.codigoCaso}__}"
								th:title="#{g.actualizar}"> <img width="20" height="20"
									src="../static/imgs/actualizar.png"
									th:src="@{/imgs/actualizar.png}" /></a></td>
							<td><a th:href="@{/caso/eliminar?id=__${c.codigoCaso}__}"
								th:title="#{g.eliminar}"> <img width="20" height="20"
									src="../static/imgs/eliminar.png"
									th:src="@{/imgs/eliminar.png}" /></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<footer th:replace="layout :: site-footer"></footer>
</body>
</html>