<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">

<head>
<title th:text="#{c.titulo.modal}"></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="#" th:href="@{/img/favicon.ico}" rel="icon" />
<script th:src="@{/js/jquery.min.v3.2.1.js}"></script>
<script th:src="@{/js/all.v5.0.7.js}"></script>
<link href="#" th:href="@{/css/bulma.min.css}" rel="stylesheet" />
</head>

<body>
	<header th:replace="layout :: site-header"></header>

	<section class="hero is-light">
		<div class="hero-body">
			<div class="container">

				<h2 class="title" th:text="#{c.titulo.modal}"></h2>

				<form action="#" th:action="@{/caso/guardar}" th:object="${caso}"
					method="post" class="form-horizontal">
					<input type="hidden" th:field="*{codigoCaso}" />
					<div class="field">
						<label class="label" th:text="#{c.input.reportado}"></label>
						<div
							th:with="usuariosReg = ${usuarios != null and !usuarios.isEmpty()}">
							<div class="select" th:if="${usuariosReg}">
								<select id="selectR" th:field="*{reportadoPor}">
									<option th:each="item : ${usuarios}" th:value="${item.codigo}"
										th:text="${item.nombre}" />
								</select>
							</div>
							<div th:unless="${usuariosReg}">
								<div th:text="#{c.list.u.vacia}"></div>
							</div>
						</div>
					</div>
					<div class="field">
						<label class="label" th:text="#{c.input.tipoc}"></label>
						<div th:with="tiposReg = ${tipos != null and !tipos.isEmpty()}">
							<div class="select" th:if="${tiposReg}">
								<select id="selectE" th:field="*{tipoCaso}">
									<option th:each="item : ${tipos}" th:value="${item.codigoTipo}"
										th:text="${item.descripcion}" />
								</select>
							</div>
							<div th:unless="${tiposReg}">
								<div th:text="#{c.list.t.vacia}"></div>
							</div>
						</div>
					</div>
					<div class="field">
						<label class="label" th:text="#{c.input.descripcion}"></label>
						<div class="control">
							<input id="desc" class="input" type="text"
								th:field="*{descripcion}" th:value="${descripcion}"
								th:placeholder="#{c.tabla.descripcion}" />
						</div>
					</div>
					<div class="field">
						<label class="label" th:text="#{c.input.resumen}"></label>
						<div class="control">
							<input id="res" class="input" type="text" th:field="*{resumen}"
								th:value="${resumen}" th:placeholder="#{c.tabla.resumen}" />
						</div>
					</div>
					<div class="field">
						<label class="label" th:text="#{c.input.asignado}"></label>
						<div
							th:with="usuariosReg = ${usuarios != null and !usuarios.isEmpty()}">
							<div class="select" th:if="${usuariosReg}">
								<select id="selectA" th:field="*{responsable}">
									<option th:each="item : ${usuarios}" th:value="${item.codigo}"
										th:text="${item.nombre}" />
								</select>
							</div>
							<div th:unless="${usuariosReg}">
								<div th:text="#{c.list.u.vacia}"></div>
							</div>
						</div>
					</div>
					<div class="field">
						<label class="label" th:text="#{c.input.estadoc}"></label>
						<div
							th:with="estadosReg = ${estados != null and !estados.isEmpty()}">
							<div class="select" th:if="${estadosReg}">
								<select id="selectE" th:field="*{estadoCaso}">
									<option th:each="item : ${estados}"
										th:value="${item.codigoEstado}" th:text="${item.descripcion}" />
								</select>
							</div>
							<div th:unless="${estadosReg}">
								<div th:text="#{c.list.e.vacia}"></div>
							</div>
						</div>
					</div>
					<div class="field">
						<label class="label" th:text="#{c.input.nota}"></label>
						<div class="control">
							<input id="nota" class="input" type="text" th:field="*{nota}"
								th:value="${nota}" th:placeholder="#{c.tabla.nota}" />
						</div>
					</div>
					
					<br /> 
					<input class="button is-primary" type="submit" value="#" th:value="#{g.guardar}" /> 
					<a class="bd-tw-button button" th:text="#{g.cerrar}" th:href="@{/caso/cancelar}"></a>
				</form>
			</div>
		</div>
	</section>

	<footer th:replace="layout :: site-footer"></footer>
</body>
</html>