<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script th:src="@{/js/jquery.min.v3.2.1.js}"></script>
<script th:src="@{/js/all.v5.0.7.js}"></script>
<link href="#" th:href="@{/css/bulma.min.css}" rel="stylesheet" />
<title th:text="#{main.title}"></title>
</head>

<body>
	<header th:replace="~{layout :: site-header}"></header>
	<h1 th:text="#{main.title}"></h1>
	<footer th:replace="~{layout :: site-footer}"></footer>
</body>

</html>