<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">

<head>
<title th:text="#{u.titulo.modal}"></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="#" th:href="@{/img/favicon.ico}" rel="icon" />
<script th:src="@{/js/jquery.min.v3.2.1.js}"></script>
<script th:src="@{/js/all.v5.0.7.js}"></script>
<link href="#" th:href="@{/css/bulma.min.css}" rel="stylesheet" />
</head>

<body>
	<header th:replace="layout :: site-header"></header>

	<section class="hero is-light">
		<div class="hero-body">
			<div class="container">

				<h2 class="title" th:text="#{u.titulo.modal}"></h2>

				<form action="#" th:action="@{/usuario/guardar}"
					th:object="${usuario}" method="post" class="form-horizontal">
					<input type="hidden" th:field="*{codigo}" />
					<div class="field">
						<label class="label" th:text="#{u.input.nombres}"></label>
						<div class="control">
							<input id="nombres" class="input" type="text"
								th:field="*{nombre}" th:value="${nombre}"
								th:placeholder="#{u.tabla.nombres}" />
						</div>
						<p th:if="${#fields.hasErrors('nombre')}"
							class="notification is-warning" th:errors="*{nombre}"></p>
					</div>
					<div class="field">
						<label class="label" th:text="#{u.input.apellidos}"></label>
						<div class="control">
							<input id="apellidos" class="input" type="text"
								th:field="*{apellido}" th:value="${apellido}"
								th:placeholder="#{u.tabla.apellidos}" />
						</div>
						<p th:if="${#fields.hasErrors('apellido')}"
							class="notification is-warning" th:errors="*{apellido}"></p>
					</div>
					<div class="field">
						<label class="label" th:text="#{u.input.alias}"></label>
						<div class="control">
							<input id="alias" class="input" type="text"
								th:field="*{alias}" th:value="${alias}"
								th:placeholder="#{u.tabla.alias}" />
						</div>
						<p th:if="${#fields.hasErrors('alias')}"
							class="notification is-warning" th:errors="*{alias}"></p>
					</div>
					<div class="field">
						<label class="label" th:text="#{u.input.clave}"></label>
						<div class="control">
							<input id="clave" class="input" type="password"
								th:field="*{clave}" th:value="${clave}"
								th:placeholder="#{u.tabla.clave}" />
						</div>
						<p th:if="${#fields.hasErrors('clave')}"
							class="notification is-warning" th:errors="*{clave}"></p>
					</div>
					
					<br /> 
					<input class="button is-primary" type="submit" value="#" th:value="#{g.guardar}" /> 
					<a class="bd-tw-button button" th:text="#{g.cerrar}" th:href="@{/usuario/cancelar}"></a>
				</form>
			</div>
		</div>
	</section>

	<footer th:replace="layout :: site-footer"></footer>
</body>
</html>